# Python temp files
__pycache__/
*.py[cod]
*$py.class

# Vim temp files
*.swp
*.swo

*.egg-info/
dist/

alt_clip_vit_l14/

.coverage
.coverage.*

# Windows-specific build files
build/

# Pycharm files
.idea/

venv/
.venv/
.DS_Store
